.seller-registration {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.seller-registration div, .seller-registration img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.seller-registration div h1 {
    color: red;
    font-size: 40px;
    font-weight: normal;
    text-align: justify;
}
.register-button {
    background-color: blue;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-style: none;
    border-radius:60px;
}
.featuredHeading {
    margin-top: 200px;
    text-align: center;
}

.featuredHeading2 {
    margin-top: 20px;
    text-align: center;
}

.Heading {
    text-align: center;
    margin-top: 100px;
}
.categoriesHeader {
    background-color: #E1BB8D;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.categoriesHeader h1 {
    color: white;
}
.categoriesHeader p {
    color: grey;
}
.howItWorks {
    background-color: #f2f2ff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.first-text {
    color: blue;
}
.second-text {
    color: grey;
}
.howItWorksSubContainer, .item-container {
    display: flex;
    align-items: center;
}
.item-container div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.item-container div p {
    color: grey;
}

.categories {
    background-color: white;
}

.categories-sub-container div h3{
    text-align: center;
    width: 100%;
}

.category-btn {
    background-color: white;
    border-style: none;
    text-align: center;
    width: 100%;
}

.category-btn:hover {
    color: blue;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-image {
    width: 250px;
    margin-top: 70px;
}

.category-image {
    display: block;
    border-radius: 20px;
}

span {
    color: red;
}