{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addressPage/addressPage.css' %}">
{% endblock %}

{% block title %}Addresses{% endblock %}

{% block body %}
<h1 class="main-heading">Addresses</h1>
<div class="main-container">
    <div class="container-1">
        <div class="container">
            <a href="/user-dashboard/" class="dashboard-navigation">Dashboard</a>
            <a href="/orders/" class="dashboard-navigation">Orders</a>
            <a href="/address/" class="dashboard-navigation">Addresses</a>
            <a href="/account/" class="dashboard-navigation">Account details</a>
            <a href="/become-seller/" class="dashboard-navigation">Become a seller</a>
            <a href="/logout/" class="dashboard-navigation">Logout</a>
        </div>
    </div>
    <div class="container-2">
        <div class="container">
            <h4>Billing Address</h4>
            <strong><a href="/buyer-billing-address/">Add</a></strong>
            <h4 class="mt-3">Shipping Address</h4>
            <strong><a href="/buyer-shipping-address/">Add</a></strong>
        </div>
    </div>
</div>
{% endblock %}