{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/baseDesktop.css' %}" media="screen and (max-width: 1780px)">
    <link rel="stylesheet" href="{% static 'css/baseLaptop.css' %}" media="screen and (max-width: 1350px)">
    <link rel="stylesheet" href="{% static 'css/baseTablet.css' %}" media="screen and (max-width: 750px)">
    <link rel="stylesheet" href="{% static 'css/basePhone.css' %}" media="screen and (max-width: 570px)">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <div class="header">
        <p>Become a Seller and get your first year for just 99 cents! Need help? Contact us for 24/7 support</p>
    </div>

    {% block notification %}{% endblock %}
    
    <div class="nav-bar">
        <img src="../static/assets/logo.png" alt="eHomespun-logo">
        <form class="form-horizontal" action="/search-product/" method="GET">
            <input type="text" name="search-term" placeholder="Search" class="text-input">
            <input id="category" type="hidden" name="category">
            <select name="category">
                {% for category in categories %}
                <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <button type="submit" id="submit-button">
                <!-- <img src="../static/assets/search.png" rel="search-img" class="search-img"> -->
                Search
            </button>
        </form>
        <a href="#" class="create-store">Create a store</a>
        <div class="navbar-sub-container">
            {% if not user.is_authenticated %}
            <div>
                <!-- <img src="../static/assets/login.png" rel="login-img" class="logo-img"> -->
                <p><a href="/login/">Login</a></p>
            </div>
            {% else %}
            <div>
                <!-- <img src="../static/assets/login.png" rel="login-img" class="logo-img"> -->
                <p><a href="/logout/">Logout</a></p>
            </div>
            {% endif %}
            <div>
                <!-- <img src="../static/assets/wishlist.png" rel="login-img" class="logo-img"> -->
                <p><a href="/wishlist/">Wishlist</a></p>
            </div>
            <div class="cart-div">
                <!-- <img src="../static/assets/cart.png" rel="cart-img" class="logo-img"> -->
                <p>Cart $0.00</p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-xxl navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login/">Login/Sign-up</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard/">Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/shop/">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cart/">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Checkout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/support/">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/buyer-information/">Buyer Terms and Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/seller-information/">Seller Terms and Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/refund-policy/">Refund Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/password-reset/">Password Reset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Homepage</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <div class="footer">
        <div>
            <h3>About eHomespun</h3>
            <p>eHomespun is a new home to buy and sell handmade, vintage, custom items and more. eHomespun was built from the ground up by two Handcrafters with one simple goal in mind – create a platform for individual sellers without those ridiculous extra fees. Less fees make it possible to have lower prices, and we all love lower prices.</p>
            <h3>Your Privacy Is Our Top Priority</h3>
            <p>Take peace in knowing that we go to great lengths to make sure your information is protected and stays protected. If there is ever anything you need, please feel free to reach out to us so we can get you the help you’re looking for.</p>
        </div>
        <div>
           <a>Privacy Policy</a>
           <a>Cookie Policy</a>
           <a>Buyer Terms and Conditions</a>
           <a>Catalog</a>
           <a>Support</a>
        </div>
        <div>
            <a>Seller Terms and Conditions</a>
            <a>Contact Us</a>
        </div>
        <div>
            <h3>Sign-up for our Newsletter</h3>
            <p>Stay in the loop about exciting news, updates, deals and more!</p>
            <form class="form-vertical">
                <input type="email" name="email" placeholder="Email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>