{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cartPage/cartPage.css' %}">
{% endblock %}

{% block title %}Shop{% endblock %}

{% block notification %}
{% if item_deleted %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Selected item has been deleted from Cart.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="container main-shop-container">
	<h1 class="mt-3"><strong>Your Shopping Cart</strong> (Cart Total: ${{cart_total}})</h1>
    <form class="my-4" action="/checkout-all-summary/" method="POST">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Checkout All</button>
    </form>
        {% for product in cart_items %}
        <div class="main-product-container container-fluid">
			<div class="container-fluid product-container">
                <img src="{{product.product.image1}}" alt="{{product.product.title}}" class="product-image">
                <p class="ms-3"><strong>{{product.product.name}}</strong></p>
                <p class="ms-3">Price: {{product.product.currency}}{{product.product.sale_price}}</p>
                <p class="ms-3">Quantity: {{product.quantity}}</p>
            </div>
			<div class="product-container mt-3">
				<form action="/product/" method="GET">
                    <input type="hidden" name="product_id" value="{{product.product.id}}">
                    <button class="btn btn-primary">View Product</button>
                </form>
                <form class="ms-3" action="/checkout-summary/" method="GET">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{product.product.id}}">
                    <input type="hidden" name="quantity" value="{{product.quantity}}">
                    <button class="btn btn-success" type="submit">Checkout</button>
                </form>
                <form class="ms-3" action="/cart/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{product.product.id}}">
                    <button class="btn btn-danger" type="submit">Remove</button>
                </form>
            </div>
		</div>
        {% endfor %}
</div>
<div class="pages-container">
    <form class="form-page">
        <input type="hidden" name="page-number" value="{{prev_page}}">
        {% if prev_page != 0 %}
        <button type="submit" class="btn btn-primary">PREV</button>
        {% else %}
        <button type="submit" class="btn btn-primary disabled" disabled>PREV</button>
        {% endif %}
    </form>
    <form class="form-page">
        <input type="hidden" name="page-number" value="{{next_page}}">
        {% if next_page != 0 %}
        <button type="submit" class="btn btn-primary">NEXT</button>
        {% else %}
        <button type="submit" class="btn btn-primary disabled" disabled>NEXT</button>
        {% endif %}
    </form>
</div>
{% endblock %}
