{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/checkout/checkout.css' %}">
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block notification %}
{% if item_deleted %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Selected item has been deleted from Cart.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="container main-shop-container">
    <h1><strong>Checkout</strong></h1>
    <div class="container-fluid product-container">
        <img src="{{product.image1}}" alt="{{product.title}}" class="product-image">
        <p><strong>{{product.name}}</strong></p>
        <p>Total Amount: {{product.currency}}{{amount}}</p>
        <p>Quantity: {{quantity}}</p>
        <form method="post" action="/charge/">
            {% csrf_token %}
            <input type="hidden" name="amount" value="{{amount}}">
            <script 
                src='https://checkout.stripe.com/checkout.js' 
                class='stripe-button'
                data-key={{key}}
                data-description='Payment Gateway'
                data-amount='{{amount}}'
                data-locale='auto'
            >
            
            </script>
    
        </form>
    </div>
</div>
{% endblock %}