{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/checkout/checkout.css' %}">
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block notification %}
{% if item_deleted %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Selected item has been deleted from Cart.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="container main-shop-container">
    <h1><strong>Checkout</strong></h1>
    <div class="container-fluid product-container">
        {% if user.is_authenticated %}
        <form method="post" action="/charge-all/">
        {% else %}
        <form method="post" action="/guest-charge-all/">
        {% endif %}
            {% csrf_token %}
            <input type="hidden" name="amount" value="{{amount}}">
            <input type="hidden" name="first_name" value="{{first_name}}">
            <input type="hidden" name="last_name" value="{{last_name}}">
            <input type="hidden" name="country" value="{{country}}">
            <input type="hidden" name="address" value="{{address}}">
            <input type="hidden" name="city" value="{{city}}">
            <input type="hidden" name="postcode" value="{{postcode}}">
            <input type="hidden" name="phone" value="{{phone}}">
            <input type="hidden" name="email" value="{{email}}">
            <input type="hidden" name="state" value="{{state}}">
            <input type="hidden" name="total_tax" value="{{total_tax}}">
            <script 
                src='https://checkout.stripe.com/checkout.js' 
                class='stripe-button'
                data-key={{key}}
                data-description='Payment Gateway'
                data-amount='{{amount_int}}'
                data-locale='auto'
            >
            
            </script>
    
        </form>
        {% for product in products %}
        <img src="{{product.product.image1}}" alt="{{product.product.title}}" class="product-image mt-4">
        <p><strong>{{product.product.name}}</strong></p>
        <p>Price: {{product.product.currency}}{{product.product.sale_price}}</p>
        <p>Quantity: {{product.quantity}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
