{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
<link rel="stylesheet" href="{% static 'css/home/tablet.css' %}" media="screen and (max-width: 750px)">
<link rel="stylesheet" href="{% static 'css/home/phone.css' %}" media="screen and (max-width: 570px)">
{% endblock %}

{% block title %}HomePage{% endblock %}

{% block body %}

<div class="seller-registration">
    <div>
        <p>Want to sell something?</p>
        <h1>Become a seller and experience a new world of online selling. No listing fees, no selling fees. Ever.</h1>
        <form action="/login/" method="GET">
            <button class="register-button">Register Now!</button>
        </form>
    </div>
    <img src="../static/assets/image1.jpeg" alt="Registration-Image">
</div>

<h1 class="featuredHeading"><strong>Featured Products</strong></h1>
<div class="featured-container container-fluid my-5">
    <div class="row">
        {% for product in products %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="container-fluid product-container">
                <img src="{{product.image1}}" alt="{{product.title}}" class="product-image">
                <p><strong>{{product.name}}</strong></p>
                <p>{{product.currency}}{{product.sale_price}}</p>
                <button class="btn btn-primary">View Product</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h1 class="featuredHeading"><strong>Featured Shops</strong></h1>
<div class="featured-container container-fluid my-5">
    <div class="row">
        {% for store in stores %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="container-fluid product-container">
                <img src="{{store.store_icon}}" alt="{{store.name}}" class="product-image">
                <p><strong>{{store.name}}</strong></p>
                <button class="btn btn-primary">View Store</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="categoriesHeader">
    <h1>Looking for something?</h1>
    <p>BROWSE OUR CATEGORIES AND FIND FITS FOR THE INNER YOU</p>
</div>

<h1 class="Heading">Choose Category</h1>
<div class="categories">
    <div class="container-fluid mx-auto row my-5 py-5">
        {% for category in categories %}
        <div class="col-lg-3 col-md-6 col-sm-12 categories-sub-container">
            <div class="container mx-auto">
                <img src="{{category.image}}" alt="category_image" class="mx-auto category-image">
            </div>
            <div class="">
                <form action="/category/" method="get">
                    <input type="hidden" name="category" value="{{category.name}}">
                    <button class="category-btn">
                        <h5 class="mx-auto">{{category.name}}</h5>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h1 class="featuredHeading"><strong>Deals and Discounts</strong></h1>
<h3 class="featuredHeading2">Checkout some awesome deals from these stores</h3>
<div class="featured-container container-fluid my-5">
    <div class="row">
        {% for product in discount_products %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="container-fluid product-container">
                <img src="{{product.image1}}" alt="{{product.title}}" class="product-image">
                <p><strong>{{product.name}}</strong></p>
                <p>Price on Sale: {{product.currency}}{{product.sale_price}}, <span>(MRP: ${{product.price}})</span></p>
                <button class="btn btn-primary">View Product</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="howItWorks my-5">
    <p class="first-text">BECOME A SELLER AND LIST YOUR PRODUCTS</p>
    <h1>How It Works</h1>
    <p class="second-text">You are one step closer to success</p>
    <div class="howItWorksSubContainer">
        <div class="item-container">
            <div>
                <h2>Create a Free Account</h2>
                <p>Create your free account and click "become a seller".</p>
            </div>
            <div>
                <h2>Pick a Seller Membership Plan</h2>
                <p>Select a Seller Membership Plan that suits your needs.</p>
            </div>
        </div>
        <div class="item-container">
            <div>
                <h2>Customize Your Shop and Add Products</h2>
                <p>Customize your very own shop and upload all your products. List all you want without any listing fees.</p>
            </div>
            <div>
                <h2>Start Selling</h2>
                <p>Start selling your goods and make money - without any other fees! It really is that simple.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
