{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/ordersPage/ordersPage.css' %}">
{% endblock %}

{% block title %}Orders{% endblock %}

{% block body %}
<h1 class="main-heading">Orders</h1>
<div class="main-container container-fluid row">
    <div class="container-1 col-6">
        <div class="container">
            <a href="/user-dashboard/" class="dashboard-navigation">Dashboard</a>
            <a href="/orders/" class="dashboard-navigation">Orders</a>
            <a href="/address/" class="dashboard-navigation">Addresses</a>
            <a href="/account/" class="dashboard-navigation">Account details</a>
            <a href="/become-seller/" class="dashboard-navigation">Become a seller</a>
            <a href="/logout/" class="dashboard-navigation">Logout</a>
        </div>
    </div>
    <div class="container-2 col-6">
        <div class="container-fluid">
            {% for product in orders %}
            <div class="main-product-container container-fluid my-4">
                <div class="container-fluid product-container">
                    <img src="{{product.product_image1}}" alt="{{product.product_title}}" class="product-image">
                    <p class="ms-3"><strong>{{product.product_name}}</strong></p>
                    <p class="ms-3">Price: {{product.product_currency}}{{product.product_sale_price}}</p>
                    <p class="ms-3">Quantity: {{product.quantity}}</p>
                </div>
                <div class="product-container mt-3">
                    <form action="/order-details/" method="GET">
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        <button class="btn btn-primary">View Order</button>
                    </form>
                    <form class="non-first-button" action="/request-refund/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{product.id}}">
                        {% if product.refund_status == "" %}
                        <button class="btn btn-danger" type="submit">Request Refund</button>
                        {% elif product.refund_status == "REFUNDED" %}
                        <button class="btn btn-danger disabled" type="submit" disabled>Amount Refunded</button>
                        {% else %}
                        <button class="btn btn-danger disabled" type="submit" disabled>Refund Initiated</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}