{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/passwordReset/passwordReset.css' %}">
{% endblock %}

{% block title %}Lost Password{% endblock %}

{% block body %}
<div class="main-container">
    <h1>Lost password</h1>
    <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
    <p>Email</p>
    <form action="" method="post">
        <input type="email" class="form-control" name="email">
        <button type="submit"class="submit-button">RESET PASSWORD</button>
    </form>
</div>
{% endblock %}