{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/buyerBillingAddress/buyerBillingAddress.css' %}">
{% endblock %}

{% block title %}Payment Method{% endblock %}

{% block notification %}
{% if payment_updated %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Payment method successfully updated.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block body %}
<h1 class="main-heading">Payment Method</h1>
<div class="main-container">
    <div class="container-1">
        <div class="container">
            <a href="/user-dashboard/" class="dashboard-navigation">Dashboard</a>
            <a href="/orders/" class="dashboard-navigation">Orders</a>
            <a href="/address/" class="dashboard-navigation">Addresses</a>
            <a href="/payment-method/" class="dashboard-navigation">Payment methods</a>
            <a href="/account/" class="dashboard-navigation">Account details</a>
            <a href="/become-seller/" class="dashboard-navigation">Become a seller</a>
            <a href="/logout/" class="dashboard-navigation">Logout</a>
        </div>
    </div>
    <div class="container-2">
        <div class="container-fluid">
            <form action="/payment-method/" method="POST">
		{% csrf_token %}
		<p class="mt-4">Credit / Debit Card Number</p>
		<input class='form-control' name="card_number" type="text">

		<p class="mt-4">Expiry</p>
		<input class="form-control" name="expiry" type="text">

		<p class="mt-4">CVV number</p>
		<input class="form-control" name="cvv" type="text">

                <button class="btn btn-primary my-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
