{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/product/product.css' %}">
{% endblock %}

{% block title %}Shop{% endblock %}

{% block notification %}
{% if review_updated %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Success!</strong> User review updated.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid mx-auto">
    <div class="banner-image-div">
        <img src="{{store.store_banner}}" alt="Store-Banner" class="store-banner">
    </div>
    <div class="store-title-div">
        <img src="{{store.store_icon}}" alt="Store-Banner" class="store-icon">
        <div>
            <h2>{{store.name}}</h2>
            <p>{{store.url}}</p>
        </div>
    </div>
    <div class="row store-details-div">
        <div class="col-lg-4 col-md-6">
            <p><strong>RATINGS</strong></p>
        </div>
        <div class="col-lg-4 col-md-6">
            <p><strong>ADDRESS</strong></p>
            <p>{{store.address}}</p>
        </div>
        <div class="col-lg-4 col-md-6">
            <p><strong>TOTAL SALES</strong></p>
            <p>{{store.sales}}</p>
        </div>
    </div>
    <div class="row main-container container-fluid mx-auto">
        <div class="carousel-div col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{product.image1}}" class="d-block img-size" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{product.image2}}" class="d-block img-size" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{product.image3}}" class="d-block img-size" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ms-3 product-details">
                <h2><strong>{{product.name}}</strong></h2>
                <p>Price: <span>{{product.currency}}{{product.sale_price}}</span></p>
                <p>{{product.short_description}}</p>
                <p>Ships From: {{store.country}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ms-3 add-to-cart-div">
                {% if user.is_authenticated %}
                <form action="/add-to-cart/" method="POST">
                {% else %}
                <form action="/add-to-guest-cart/" method="POST">
                {% endif %}
                    {% csrf_token %}
                    <input class="form-control" type="number" placeholder="Quantity" name="quantity">
                    <input type="hidden" value="{{product.id}}" name="product_id">
                    <button class="btn btn-primary" type="submit">Add To Cart</button>
                </form>
                <form action="/add-to-wishlist/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{product.id}}" name="product_id">
                    <button class="btn btn-primary" type="submit">Add To Wishlist</button>
                </form>
            </div>
        </div>
    </div>
    <h1 class="mt-5">Related Products</h1>
    <div class="related-products row mb-5">
        {% for product in related_products %}
        <div class="col-lg-3 col-md-4 ">
            <div class="container-fluid product-container">
                <img src="{{product.image1}}" alt="{{product.title}}" class="product-image">
                <p><strong>{{product.name}}</strong></p>
                <p>{{product.currency}}{{product.sale_price}}</p>
                <form action="/product/" method="GET">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <button class="btn btn-primary">View Product</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
	
	<div class="container-fluid product-description-container">
		<div class="container right-align-container">
			<h3><strong>Description</strong></h3>
			<p>{{product.description}}</p>
			<h3><strong>User Reviews</strong></h3>
			<p>{{total_rating}} out of 5</p>
			{% if rating_count == 0 %}
			<p>There are no reviews yet</p>
			{% endif %}
			<h3><strong>Comments</strong></h3>
			{% if not comments %}
			<p>There are no comments yet</p>
			{% endif %}
            <div class="comment-div my-3 py-1">
                {% for comment in comments %}
                <div class="container-fluid">
                    <p><strong>@{{comment.username}}</strong></p>
                    <input class="form-control mb-4" disabled value="{{comment.comment}}">
                </div>
                {% endfor %}
            </div>
			{% if user.is_authenticated %}
			<p><strong>Your Feedback</strong></p>
			<form action="/product/" method="post">
                {% csrf_token %}
				<textarea type="text" name="comment" placeholder="Comment..." class="text-area"></textarea><br>
				<div class="row">
                    <div class="col-1">
                        <img src="../static/assets/hollow_star.png" alt="hollow-star" class="ratings-img" id="star-1">
                        <img src="../static/assets/yellow_star.jpeg" alt="hollow-star" class="ratings-img ratings-img2" id="star-12">
                    </div>
                    <div class="col-1">
                        <img src="../static/assets/hollow_star.png" alt="hollow-star" class="ratings-img" id="star-2">
                        <img src="../static/assets/yellow_star.jpeg" alt="hollow-star" class="ratings-img ratings-img2" id="star-22">
                    </div>
                    <div class="col-1">
                        <img src="../static/assets/hollow_star.png" alt="hollow-star" class="ratings-img" id="star-3">
                        <img src="../static/assets/yellow_star.jpeg" alt="hollow-star" class="ratings-img ratings-img2" id="star-32">
                    </div>
                    <div class="col-1">
                        <img src="../static/assets/hollow_star.png" alt="hollow-star" class="ratings-img" id="star-4">
                        <img src="../static/assets/yellow_star.jpeg" alt="hollow-star" class="ratings-img ratings-img2" id="star-42">
                    </div>
                    <div class="col-1">
                        <img src="../static/assets/hollow_star.png" alt="hollow-star" class="ratings-img" id="star-5">
                        <img src="../static/assets/yellow_star.jpeg" alt="hollow-star" class="ratings-img ratings-img2" id="star-52">
                    </div>
				</div>
                <input type="hidden" value="0" name="rating" id="rating-value">
                <input type="hidden" value="{{product.id}}" name="product_id">
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
			</form>
			{% endif %}
		</div>
	</div>

    <div class="product-description-container container-fluid">
        <h1>Shipping Info</h1>
        <div class="row">
            <div class="col-6">
                <p><strong>Shipping from</strong></p>
                <p><strong>Within United States (US)</strong></p>
                <p><strong>Outside United States (US)</strong></p>
                <p><strong>National Shipping Fee</strong></p>
                <p><strong>International Shipping Fee</strong></p>
            </div>
            <div class="col-6">
                <p>{{store.country}}</p>
                {% if shipping.disable_national_shipping %}
                <p>Not Allowed by the seller</p>
                {% else %}
                <p>Allowed</p>
                {% endif %}
                {% if shipping.disable_international_shipping == "on" %}
                <p>Not Allowed by the seller</p>
                {% else %}
                <p>Allowed</p>
                {% endif %}
                {% if shipping.national_free_shipping_enabled == "on" %}
                <p>Free</p>
                {% else %}
                <p>${{shipping.national_shipping_fee}}</p>
                {% endif %}
                {% if shipping.international_free_shipping_enabled == "on" %}
                <p>Free</p>
                {% else %}
                <p>${{shipping.national_shipping_fee}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    let rating_value = document.getElementById("rating-value")

    let star1 = document.getElementById("star-1")
    let star12 = document.getElementById("star-12")
    star1.addEventListener("click", () => {
        if (star1.style.display !== "none") {
            star1.style.display = "none"
            star12.style.display = "inline"
            rating_value.value="1"
        }
    })
    star12.addEventListener("click", () => {
        if (star12.style.display !== "none") {
            star12.style.display = "none"
            star1.style.display = "inline"
            star22.style.display = "none"
            star2.style.display = "inline"
            star32.style.display = "none"
            star3.style.display = "inline"
            star42.style.display = "none"
            star4.style.display = "inline"
            star52.style.display = "none"
            star5.style.display = "inline"
            rating_value.value="0"
        }
    })

    let star2 = document.getElementById("star-2")
    let star22 = document.getElementById("star-22")
    star2.addEventListener("click", () => {
        if (star2.style.display !== "none") {
            star2.style.display = "none"
            star22.style.display = "inline"
            star1.style.display = "none"
            star12.style.display = "inline"
            rating_value.value="2"
        }
    })
    star22.addEventListener("click", () => {
        if (star22.style.display !== "none") {
            star22.style.display = "none"
            star2.style.display = "inline"
            star32.style.display = "none"
            star3.style.display = "inline"
            star42.style.display = "none"
            star4.style.display = "inline"
            star52.style.display = "none"
            star5.style.display = "inline"
            rating_value.value="1"
        }
    })

    let star3 = document.getElementById("star-3")
    let star32 = document.getElementById("star-32")
    star3.addEventListener("click", () => {
        if (star3.style.display !== "none") {
            star3.style.display = "none"
            star32.style.display = "inline"
            star1.style.display = "none"
            star12.style.display = "inline"
            star2.style.display = "none"
            star22.style.display = "inline"
            rating_value.value="3"
        }
    })
    star32.addEventListener("click", () => {
        if (star12.style.display !== "none") {
            star32.style.display = "none"
            star3.style.display = "inline"
            star42.style.display = "none"
            star4.style.display = "inline"
            star52.style.display = "none"
            star5.style.display = "inline"
            rating_value.value="2"
        }
    })

    let star4 = document.getElementById("star-4")
    let star42 = document.getElementById("star-42")
    star4.addEventListener("click", () => {
        if (star4.style.display !== "none") {
            star4.style.display = "none"
            star42.style.display = "inline"
            star3.style.display = "none"
            star32.style.display = "inline"
            star1.style.display = "none"
            star12.style.display = "inline"
            star2.style.display = "none"
            star22.style.display = "inline"
            rating_value.value="4"
        }
    })
    star42.addEventListener("click", () => {
        if (star42.style.display !== "none") {
            star42.style.display = "none"
            star4.style.display = "inline"
            star52.style.display = "none"
            star5.style.display = "inline"
            rating_value.value="3"
        }
    })

    let star5 = document.getElementById("star-5")
    let star52 = document.getElementById("star-52")
    star5.addEventListener("click", () => {
        if (star5.style.display !== "none") {
            star5.style.display = "none"
            star52.style.display = "inline"
            star4.style.display = "none"
            star42.style.display = "inline"
            star3.style.display = "none"
            star32.style.display = "inline"
            star1.style.display = "none"
            star12.style.display = "inline"
            star2.style.display = "none"
            star22.style.display = "inline"
            rating_value.value="5"
        }
    })
    star52.addEventListener("click", () => {
        if (star52.style.display !== "none") {
            star52.style.display = "none"
            star5.style.display = "inline"
            rating_value.value="4"
        }
    })
</script>
{% endblock %}
