{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/proProducts/proProducts.css' %}">
{% endblock %}

{% block title %}Pro Dashboard{% endblock %}

{% block body %}
<h1 class="main-heading">Pro Dashboard</h1>

<div class="container header-container">
    <div class="row menu-bar">
        <div class="col-xl-2 col-sm-3"><a href="/pro-dashboard/">Dashboard</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-products/">Products</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-orders/">Orders</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-settings/">Settings</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-ratings/">Ratings</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-refunds/">Refund Requests</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-shipping/">Shipping</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-coupons/">Coupons</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-store/">View Store</a></div>
    </div>
</div>

<div class="container sub-header-container">
    <p>Welcome to the Seller's Club! Please make sure to add your Payment Information (PayPal email, Bank info, etc.) so you can receive payments for your orders. Tip: For adding your shop logo and banner image - Click "settings", then click "Branding". There you will be able to add the images of your choice. Lastly, please feel free to join our "eHomespun Seller Support" group on Facebook.</p>
</div>

<div class="container mx-auto main-container">
    <form action="/add-product/" method="get">
        {% if is_member %}
        <button class="add-product-btn" type="submit">ADD PRODUCT</button>
        {% else %}
        <button class="add-product-btn disabled" type="submit" disabled>ADD PRODUCT</button>
        {% endif %}
    </form>
</div>

<div class="row container mx-auto my-4 main-container">
    {% for product in products %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="container-fluid product-container">
            <img src="{{product.image1}}" alt="{{product.title}}" class="product-image">
            <p><strong>{{product.name}}</strong></p>
            <p>{{product.currency}}{{product.sale_price}}</p>
            <form action="/pro-update-product/" method="GET">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button class="btn btn-success">Update Product</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pages-container">
    <form class="form-page">
        <input type="hidden" name="page-number" value="{{prev_page}}">
        {% if prev_page != 0 %}
        <button type="submit" class="btn btn-primary">PREV</button>
        {% else %}
        <button type="submit" class="btn btn-primary disabled" disabled>PREV</button>
        {% endif %}
    </form>
    <form class="form-page">
        <input type="hidden" name="page-number" value="{{next_page}}">
        {% if next_page != 0 %}
        <button type="submit" class="btn btn-primary">NEXT</button>
        {% else %}
        <button type="submit" class="btn btn-primary disabled" disabled>NEXT</button>
        {% endif %}
    </form>
</div>

{% endblock %}
