{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/proPolicy/proPolicy.css' %}">
{% endblock %}

{% block title %}Pro Dashboard{% endblock %}

{% block notification %}
{% if policy %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Terms and Conditions updated.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block body %}
<h1 class="main-heading">Pro Dashboard</h1>

<div class="container header-container">
    <div class="row menu-bar">
        <div class="col-xl-2 col-sm-3"><a href="/pro-dashboard/">Dashboard</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-products/">Products</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-orders/">Orders</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-settings/">Settings</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-refunds/">Refund Requests</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-shipping/">Shipping</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-coupons/">Coupons</a></div>
        <div class="col-xl-2 col-sm-3"><a href="/pro-store/">View Store</a></div>
    </div>
</div>

<div class="container sub-header-container">
    <p>Welcome to the Seller's Club! Please make sure to add your Payment Information (PayPal email, Bank info, etc.) so you can receive payments for your orders. Tip: For adding your shop logo and banner image - Click "settings", then click "Branding". There you will be able to add the images of your choice. Lastly, please feel free to join our "eHomespun Seller Support" group on Facebook.</p>
</div>

<div class="container mx-auto">
    <br>
    <h2>Settings</h2>
    <br>
    <div class="row menu-bar">
        <div class="col-xl-1 col-sm-3"><a href="/pro-settings/">Store</a></div>
        <div class="col-xl-1 col-sm-3"><a href="/pro-payments/">Payment</a></div>
        <div class="col-xl-1 col-sm-3"><a href="/pro-branding/">Branding</a></div>
        <div class="col-xl-1 col-sm-3"><a href="/pro-social/">Social</a></div>
        <div class="col-xl-1 col-sm-3"><a href="/pro-policies/">Policies</a></div>
        <div class="col-xl-1 col-sm-3"><a href="/pro-membership/">Membership</a></div>
    </div>
    <br>

    <h3>Terms and Conditions</h3>
    <form action="/pro-policies/" method="POST">
        {% csrf_token %}
        <p><strong>Terms and Conditions</strong></p>
		<textarea placeholder="{{store.terms_and_conditions}}" class="form-control mb-3" name="terms-and-conditions" type="text"></textarea>

        <button class="btn btn-primary mb-3" type="submit">Save Changes</button>
    </form>
</div>



{% endblock %}
