{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sellerTerms/sellerTerms.css' %}">
{% endblock %}

{% block title %}Seller Terms and Conditions{% endblock %}

{% block body %}
<h1 class="main-heading">Seller Terms and Conditions</h1>
<div class="main-container">
    <p><strong>At eHomespun we strive to keep things simple, yet exceptional. Please take a few minutes to review these simple guidelines for sellers.</strong></p>
    <ul>
        <li class="list-item">Thank you for signing up to be a seller with ehomespun.com! With eHomespun, you get to experience selling your products without dreading extra fees. That’s why when you sign up to be a seller, the only fee from eHomeSpun is a low monthly or yearly seller membership. ZERO additional fees will be included from ehomespun.com. Not even a listing fee!</li>
        <li class="list-item"><strong>eHomespun.com reserves the right to suspend/ban seller accounts. We will never suspend or ban an account without reaching out to the seller to find a solution first.</strong></li>
        <li class="list-item"><strong>eHomespun reserves the right to make changes to these guidelines at any given time. If any changes are to be made, we will announce the said changes to all of you (the sellers).</strong></li>
        <li class="list-item"><strong>Please register for, or link your PayPal or Stripe account to your shop so you can receive payments. Direct Bank Transfer is also an option.</strong></li>
    </ul>
    <p><a href="#">Facebook Support Group</a></p>
    <p>We encourage all sellers to join our Facebook group: <span>eHomespun seller support</span>. This will allow sellers to reach out to one another and to us to discuss various things, ratings, encouragement, advice etc. Please be respectful to one another and keep the group positive! Positivity goes a long way!</p>

    <h3>Seller Membership Specials</h3>
    <p>eHomespun will have discounts or special deals on Seller Memberships from time to time. The price you pay for the promotion(s) will be for that specific membership, for that specific membership timeframe. Prices are subject to change. Example: Annual Seller Membership is on sale for $9.99 on April 30th, 2021. If purchased on April 30th, 2021 for $9.99, that membership will end on April 30th, 2022. Upon renewal, the membership price may no longer be on sale for the previous $9.99.</p>

    <h1>Guidelines and Rules</h1>
    <ul>
        <li class="list-item">You (the seller) will be responsible for any and all fees through your shop. Examples are: Sales tax, Shipping and returns, PayPal, transfers, etc.</li>
        <li class="list-item">You (the seller) can choose whether or not to have a refund and return policy on your products. Whichever you decide, please make it visible for buyers to see that you do or do not have a return policy.</li>
        <li class="list-item">Sellers are responsible for refunds, returns, and exchanges. If needed, you can reach out to us to step in and find a resolution, as we may be able to issue the refund instead of you. Please do not hesitate to reach out.</li>
        <li class="list-item">It is up to you (the seller) to ensure that items posted by you are accurately described for the buyers (size, shape, color, material etc.). This will help make things easier for both parties (you and the buyers) and help mitigate confusion for shoppers.</li>
        <li class="list-item">If you (the seller) upload pictures for product example purposes, but you make/sell other types (size, shape, color, material etc.), please be sure to include in the description that the cover picture is just an example of your work, while providing item description of actual product you are selling.</li>
        <li class="list-item">We strongly recommend that you (the seller) watermark your pictures. This will help prevent others from using your images without authorization.</li>
        <li class="list-item">Wholesalers are welcome. If your shop is based off of buying bulk/wholesale items to sell, you are more than welcome to sell here.</li>
        <li class="list-item">Do not harass other individual sellers or shops. It is important that we all respect each others spaces.</li>
        <li class="list-item">Do not try to interfere, threaten, drive away customers or business from another individual seller or shop.</li>
        <li class="list-item">Please do not list items that are racist, discriminatory or portray hate in any way, shape, or form.</li>
        <li class="list-item">You (the seller) will be responsible for protecting buyer information. Please do not share this information with anyone, ever. Payment information and transactions will be secure and encrypted to help with customer privacy.</li>
        <li class="list-item">If it is reported that these rules and guidelines have not been followed by a seller, we will open a case and do an investigation. If evidence shows that these rules and guidelines were not followed, your account may be subject to suspension or permanent ban but we will NEVER do so without reaching out to the seller first.</li>
        <li class="list-item">It is important that you (the seller) try to resolve any and all customer issues that may arise in a timely manner. If not resolved in a timely manner, customers will have the option to create a customer support ticket, which we will handle. We will reach out to you (the seller) about the issue and try to come find a resolution with you. The same applies for you (the seller): If you and the customer cannot reach a resolution, please do not hesitate to reach out to us for help.</li>
        <li class="list-item"><strong>Seller Protection:</strong> Your shop is your business and we understand that. Your protection is a priority to us, so please let us know if there is ever anything you need. There are numerous things that can lead to a bad review of your shop, and we want you to know that we are here to help. Sometimes, there might be a bad review even though you did everything you could to make the customer happy. If you did everything on your part (on time deliver, product is in good shape, product is as described, etc.) and the customer still leaves a bad review just to damage your brand, please do not hesitate to contact us so we can get this taken care of. Leaving false bad reviews are unacceptable and there are consequences for the buyer(s) in doing so. Again, please do not hesitate to reach out so we can help.</li>
        <li class="list-item">No spam/scam accounts. If ever a spam/scam account goes undetected and you (the seller) are aware of any scam or spam accounts, please notify us immediately.</li>
        <li class="list-item">Last but not least, it is important to ensure that customers are happy with their products and services. Customer satisfaction is a difference maker and should be a top priority for all sellers.</li>
        <li class="list-item">Wholesalers, D.I.Y craft kits, paints, stains, waxes, sealers, crafting tools, fabrics, digital downloads, subscriptions and tutorials ARE allowed. If your craft category is not listed, please do not hesitate to reach out to us so we can get it added for you.</li>
    </ul>
    <p>Please feel free to reach out to us directly if you have any questions, comments, or concerns.</p>
    <p>contact.us@ehomespun.com</p>
    <p>Thank you,</p>
    <p>eHomespun.com</p>
    <p><em>By creating a Seller account with eHomespun, you (the seller) agree to these terms and conditions.</em></p>
</div>
{% endblock %}